{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container pt-5 pb-5 mb-5 wrapper">
      <div class="h-flex mb-5 py-5 container-fluid">
      <h3 class="heading">Gallery</h3>
      <button
      class="btn p-2"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img src="{% static 'my-assets/images/Vector.png' %}" alt="nav" />
    </button>
    <div
      class="dropdown-menu"
      style="border-radius: 20px"
      aria-labelledby="dropdownMenuButton"
    >
      <a class="dropdown-item text-center" href="{% url 'upload:index' %}">Home</a>
      <hr />
      <a class="dropdown-item text-center" href="#">Biography</a>
      <hr />
      <a class="dropdown-item text-center" href="{% url 'upload:tributes' %}">Tributes</a>
    </div>
    </div>

    <div class="container-fluid d-flex mb-4 justify-content-center" >
      
    <button
          
    class="text-center rounded-class"
    style="
      border: 2px #336799 solid;
      background-color: #336799;
      color: white;
      
      font-weight: 400;
      padding: 0.7rem 0.4rem;
      font-size: .8em;
      width: 50%;

    ">
    Upload Photo
    </button>
    </div>


    <!-- gallery images display -->
    <div class="img-flex" >
      {% for image in images %}
        <img
          src="{{image.url}}"
          class="img-fluid img-fit"
          alt="adieu beloved"
        />
        {% endfor %}

      <!-- second row -->

      <img
        src="https://img.freepik.com/free-photo/sky-landscape-digital-art-style-with-tree-silhouette_23-2151120841.jpg?size=626&ext=jpg&ga=GA1.1.120896997.1707432117&semt=ais"
        class="img-fit"
        alt=""
      /><img
        src="https://img.freepik.com/free-photo/neon-tropical-monstera-leaf-banner_53876-138943.jpg?size=626&ext=jpg&ga=GA1.1.120896997.1707432117&semt=ais"
        class="img-fit"
        alt=""
      />

      <!-- third row -->
      <!-- 
      <img
        src="https://img.freepik.com/free-photo/colorful-leaves-against-simple-background_23-2149337928.jpg?size=626&ext=jpg&ga=GA1.1.120896997.1707432117&semt=ais"
        class="img-fit"
        alt=""
      /><img
        src="https://img.freepik.com/premium-photo/brightly-colored-painting-tree-mountainous-landscape-generative-ai_1028882-10809.jpg?size=626&ext=jpg&ga=GA1.1.120896997.1707432117&semt=ais"
        class="img-fit "
        alt=""
      /> -->
    </div>

{% endblock %}
