<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./styles/main.css" />
    <title>Biography</title>
  </head>
  <body>
    <div
      class="container d-flex justify-content-center align-items-center"
      style="height: 100px; background-color: #f1f1f1"
    >
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>

    <p class="text-center">
      <i>In Loving Memory</i>
    </p>

    <div class="container-fiuld">
      <p class="text-center font">Elder Adebayo Awolaru</p>

      <p class="text-center font-body">
        We celebrate the life, achievements, and lasting legacy of a remarkable
        man who has touched the lives of many. Join us in honoring his memory
      </p>

      <img
        src="../static/my-assets/images/dad-1.png"
        class="img-fluid mx-auto d-block"
        alt=""
      />
    </div>

    <!-- Biography     -->
    <div class="container">
      <p class="font">Biography</p>
      <p class="font-body">
        Mr Adebayo Awolaru was born on 24 April in Lagos State. From an early
        age his passion for Education was evident, laying the foundation for a
        remarkable journey ahead.<br /><br />

        Throughout their life, Mr Adebayo achieved great heights making
        significant contributions that shaped the landscape of the educational
        sector. <br /><br />

        Their dedication, innovation, and unwavering commitment to excellence
        left an indelible mark on people and inspired countless individuals
        around the globe.<br /><br />
      </p>
    </div>

    <!-- biography image with view more link to biography -->
    <div class="container">
      <img
        src="https://media.istockphoto.com/id/1201144322/photo/headshot-of-african-american-male-in-glasses-posing-in-studio.jpg?s=612x612&w=0&k=20&c=1DYcA9va31VYVszx_pTOIBq_sL217ne1fDJaa_Now1Y="
        alt=""
        class="d-block mx-auto img-fluid rounded"
      />

      <a href="biography.html" class="view-more text-right d-block"
        >View More</a
      >
    </div>

    <!-- gallery section -->
    <div class="container">
      <i class="font " style="font-size: 24px; color: #1e1e1e">
        Memories Captured In <br/> Time
      </i>
      <div class="row">
        <div class="col-6">
          <img
            src="https://media.istockphoto.com/id/1201144322/photo/headshot-of-african-american-male-in-glasses-posing-in-studio.jpg?s=612x612&w=0&k=20&c=1DYcA9va31VYVszx_pTOIBq_sL217ne1fDJaa_Now1Y="
            class="gallery-images"
            style="width: 100%; border-radius: 20px"
            alt=""
          />
          <p class="text-center my-3">Mr Adebayo & His Wife</p>
        </div>
        <div class="col-6">
          <img
            src="https://media.istockphoto.com/id/1201144322/photo/headshot-of-african-american-male-in-glasses-posing-in-studio.jpg?s=612x612&w=0&k=20&c=1DYcA9va31VYVszx_pTOIBq_sL217ne1fDJaa_Now1Y="
            class="gallery-images"
            style="width: 100%; border-radius: 20px"
            alt=""
          />
          <p class="text-center my-3 ">Mr Adebayo & His Wife</p>
        </div>
        <div class="col-6">
          <img
            src="https://media.istockphoto.com/id/1201144322/photo/headshot-of-african-american-male-in-glasses-posing-in-studio.jpg?s=612x612&w=0&k=20&c=1DYcA9va31VYVszx_pTOIBq_sL217ne1fDJaa_Now1Y="
            class="gallery-images"
            style="width: 100%; border-radius: 20px"
            alt=""
          />
          <p class="text-center my-3">Mr Adebayo & His Wife</p>
        </div>
        <div class="col-6">
          <img
            src="https://media.istockphoto.com/id/1201144322/photo/headshot-of-african-american-male-in-glasses-posing-in-studio.jpg?s=612x612&w=0&k=20&c=1DYcA9va31VYVszx_pTOIBq_sL217ne1fDJaa_Now1Y="
            class="gallery-images"
            style="width: 100%; border-radius: 20px"
            alt=""
          />
          <p class="text-center my-3">Mr Adebayo & His Wife</p>
        </div>
      </div>

      <div class="row container-fiuld d-flex align-items-center my-5 px-4 ">
        <button type="button" class="col-6" style="border: 1px #336799 solid;color: #336799;border-radius: 30px; font-weight: 400;
        padding: .3rem .8rem;
        font-size: 20px;" >Upload photo</button>
        <a href="gallery.html" class="col-6 text-center "> View More in Gallery </a>
      </div>
    </div>

    <!-- tribute section -->
    <div class="container p-">
      <p class="font mb-5 " style="font-size: 24px; color: #1e1e1e;   ">
        Hearfelt Tributes
      </p>

      <img
        src="../static/my-assets/images/Quote Left.png"
        alt=""
        class="d-block mx-auto"
      />

      <p class="text-center font" style="font-size: 14px; font-style: normal">
        Mr Adebayo Awolaru was born on 24 April in Lagos State. From an early
        age his passion for Education was evident, laying the foundation for a
        remarkable journey ahead.
      </p>

      <p
        class="text-center"
        style="color: #1e1e1e; font-weight: 500; font-size: 16px"
      >
        Mr Idris Musa
      </p>
      <p class="text-center font-body" style="color: #504d4d">Family Friend</p>

      <a href="tribute.html" class="text-right d-block">View More</a>

      <button
        type="button"
        class="mx-auto d-block text-white py-4 px-5 my-5"
        style="background-color: #336799; border-radius: 35px; border: none"
      >
        Share Your Tribute
      </button>
    </div>

    <!-- script loading -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
