{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container wrapper ">
      <div
        class="dropdown d-flex justify-content-between align-items-center py-5 container "
      >
        <h1 class="heading">Share Your Tribute</h1>
        <button
          class="btn p-2"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img src="{ static 'my-assets/images/Vector.png'}" alt="nav" />
        </button>
        <div
          class="dropdown-menu"
          style="border-radius: 20px"
          aria-labelledby="dropdownMenuButton"
        >
          <a class="dropdown-item text-center" href="{% url 'upload:index' %}">Home</a>
          <hr />
          <a class="dropdown-item text-center" href="{% url 'upload:gallery' %}">Gallery</a>
          <hr />
          <a class="dropdown-item text-center" href="{% url 'upload:tributes' %}">Tributes</a>
        </div>
      </div>
      <p class="article-text" style="font-size: 24px">
        Thank you for sharing your heartfelt tribute
      </p>

    


      <form action="" method="post">
        <label for="name" class="label-text my-2" >Name </label>
        <input type="text" name="name" id="name" class="d-block w-100 py-3 rounded " style="border: solid grey 2px;" />

        <!-- relationship status -->
        <label for="relationshipStats" class="label-text my-2" >Relationship Status </label>
        <input
          type="text"
          name="relationship"
          id="relationship"
          class="d-block w-100 py-3 rounded" style="border: solid grey 2px;"
        />

        <!-- write your tribute      -->
        <textarea
          name="tribute-message"
          id="tribute-message"
          cols="30"
          rows="10"
          placeholder="write your tribute"
          class="w-100" style="border: solid grey 2px;"
        ></textarea>

        <button type="submit" class="mx-auto button my-2 " >Send</button>
      </form>
    </div>

    {% endblock %}
